@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    background: #1C2023;
    font-family: "rubik", sans-serif;
}
.nav{
    background: url(/images/bg.png) no-repeat right/1163px 664px;
    position: relative;

}
.nav::after{
    content: '';
    background: url(/images/snow.gif)no-repeat right/cover;
    position: absolute;
    z-index: 100;
    width: 1100px;
    right: 0;
    top: 0;
    height: 474px;
    opacity: 0.3;
    margin-top: 30px;
}
.nav_img {
    width: 900px;
    height: 600px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.nav_snow_gif {
    opacity: 0.1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.nav_section {}

.container {}

.nav_menu {
}

.nav_menu_button {}

.nav_menu_list_li{
    display: flex;
    width: 639px;
    height: 27.232px;
    justify-content: space-between;
    list-style-type: none;
}

.nav_menu_li {
    color: rgba(255, 255, 255, 0.50);
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}
.nav_menu_list {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 700px;
    transform: translateX(10%);
    transition: transform 0.4s ease;
    padding: 20px;
    border-radius: 8px;
}

.nav_menu_list.show {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
.nav_menu_li a:hover{
    color: #8856D9;
}
.blank{
}
.nav_menu_li_language {}

.current-languages {}

.main {
    margin-top: 110px;
    margin-left: 100px;
}

.main_title {
    width: 538px;
    height: 199.011px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Rubik;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
}

.main_description {
    width: 543px;
    height: 73.634px;
    flex-shrink: 0;
    color: #A9C7C7;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-top: 26px;
}

.main_button {
    width: 145px;
    height: 41.792px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #8856D9;
    margin-top: 50px;
}

.main_button-text{
    width: 124px;
    height: 18.906px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 2px 0px 0px 10px;
}


.nav_timer {
    color: #A9C7C7;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px 0px 0px 1250px;
    position: absolute;
}

.nav_timer_subtitle {
    width: 72px;
    height: 18.906px;
    flex-shrink: 0;
    color: #8C96A0;;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 100px;
    position: absolute;
    margin: 30px 0px 0px 1140px;
}

.nav_timer-clock {      
    width: 175px;
    height: 46.768px;
    flex-shrink: 0;
    color: #A9C7C7;
    font-family: "Rubik";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav_timer_description-d {
    width: 12px;
    height: 18.906px;
    flex-shrink: 0;
    color: #8C96A0;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin: 60px 0px 0px 1270px;
    display: block;
}
.nav_timer_description-h {
    width: 12px;
    height: 18.906px;
    flex-shrink: 0;
    color: #8C96A0;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin: 60px 0px 0px 1334px;
    display: block;
}
.nav_timer_description-m{
    width: 12px;
    height: 18.906px;
    flex-shrink: 0;
    color: #8C96A0;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin: 60px 0px 0px 1393px;
    display: block;
}
.nav_timer_description-s{
    width: 12px;
    height: 18.906px;
    flex-shrink: 0;
    color: #8C96A0;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin: 60px 0px 0px 1457px;
    display: block;
}



@media (max-width: 320px) {
    .main{
        margin-left: 400px;
    }
    .nav_menu_button{
        cursor: pointer;
        margin-left: 400px;
        margin-top: 20px;
    }
    .nav_countdown{
        display: none;
    }
    .nav::after {
        display: none;
    }
    .explore_list_text {
        width: 800px;
        margin-left: 250px;
    }
    .explore_button{
        margin: 20%;
    }
    
}    

.burger-icon{
    width: 50px;
    cursor: pointer;
}
